.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  padding: 20px;
}

.settings {
  width: 78vw;
  text-align: start;
  padding-bottom: 20px;
}

.hunger {
  padding-bottom: 20px;
}

.complexity {
  padding-bottom: 15px;
}

.hamburger {
  padding-bottom: 20px;
}
