.App {
  text-align: center;
  height: 93vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  padding-bottom: 20px;
}

.title {
  padding-bottom: 10px;
}

.settings {
  width: 75vw;
}

.weight {
  padding-bottom: 25px;
  padding-left: 15px;
  align-items: center;
}

.type {
  padding-bottom: 30px;
  padding-left: 15px;
}

.generate {
  padding-bottom: 20px;
}
